.calculator {
	position: absolute;
	z-index: 2;
	bottom: 100px;
	left: 100px;
	width: 232px;
	height: 321px;
	border-radius: 10px;
	display: flex;
	color: black;
	text-shadow: none;
	color: white;
	background-color: rgb(44, 37, 35, 0.8);
	backdrop-filter: blur(50px);

	&--hidden {
		display: none;
	}

	&__wrapper {
		width: 100%;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1),
			-1px 10px 30px 0px rgba(0, 0, 0, 0.1);
	}
	&__window__buttons {
		width: 100px;
		height: 20px;
		display: flex;
		padding: 5px 5px 5px 5px;
		gap: 7px;
	}

	&__close {
		width: 12px;
		height: 12px;
		background-color: #fb5851;
		border: 1px solid rgb(0, 0, 0, 0.1);
		border-radius: 50px;
	}

	&__minimise {
		width: 12px;
		height: 12px;
		background-color: #fab23f;
		border: 1px solid rgb(0, 0, 0, 0.1);
		border-radius: 50px;
	}

	&__fullscreen {
		width: 12px;
		height: 12px;
		background-color: #32c048;
		border: 1px solid rgb(0, 0, 0, 0.1);
		border-radius: 50px;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 5px;
		border-radius: 5px;
	}

	&__screen {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		& > div {
			margin-right: 20px;
			font-size: xx-large;
		}
	}

	&__buttons {
		display: flex;
		width: 100;
		height: 246px;
		&__left {
			display: flex;
			flex-direction: column;
			&--top {
				width: 170px;
				display: flex;
				flex-wrap: wrap;
				& > div {
					background-color: rgb(64, 57, 56, 0.5);
				}
			}
			&--bottom {
				width: 170px;
				display: flex;
				flex-wrap: wrap;
				background-color: rgb(95, 90, 89, 0.5);
			}
		}
		&__right {
			background-color: rgb(252, 150, 46, 0.5);
		}
	}

	&__btn {
		width: 56px;
		height: 49px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
