.menu {
	cursor: default;
	width: 100vw;
	height: 40px;
	background-color: rgba(190, 242, 251, 0.7);
	backdrop-filter: blur(50px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__hover {
		background-color: rgb(134, 171, 177, 0.7);
		border-radius: 5px;
	}

	&__left {
		margin-left: 20px;
		display: flex;
		list-style-type: none;
		& > li {
			padding: 11px 15px;
		}
	}

	&__right {
		margin-right: 20px;
		display: flex;
		list-style-type: none;
		gap: 20px;
		& > li > img {
			height: 20px;
			width: 20px;
		}
	}

	&__item--bold {
		font-weight: bold;
	}
}

.dropdown {
	&__hover {
		background-color: #297beb;
		color: white;
	}
	&__apple {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 20px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__app {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 61px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__file {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 140px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__edit {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 196px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__view {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 253px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__go {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 318px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__window {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 369px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}

.dropdown {
	&__help {
		cursor: default;
		z-index: 3;
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: rgba(234, 252, 254, 0.5);
		box-shadow: 5px 5px 50px -15px black;
		backdrop-filter: blur(30px);
		position: fixed;
		width: 250px;
		border-radius: 5px;
		top: 41px;
		left: 457px;
		padding: 10px 20px;
		&--hidden {
			display: none;
		}

		&--faded {
			opacity: 0.3;
		}
		& > ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& > hr {
				border-color: rgb(0, 0, 0, 0.1);
			}
			& > li {
				list-style-type: none;
			}
		}
	}
}
