* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(../images/ventura-light-1920-1080.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.desktop {
  position: absolute;
  top: 0;
  margin-top: 50px;
  height: 800px;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 10px black;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.desktop__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop__icon__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 500px;
  margin-left: auto;
  flex-wrap: wrap-reverse;
  margin-right: 20px;
  margin-top: 20px;
}
.desktop__icon__hd {
  width: 80px;
  height: 80px;
}
.desktop__icon__folder {
  width: 100px;
  height: 80px;
}

footer {
  width: 100vw;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.dock {
  z-index: 0;
  background-color: white;
  backdrop-filter: blur(20px);
  width: 510px;
  min-height: 60px;
  max-height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 50px -15px black;
  margin-bottom: 5px;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.dock > a {
  height: 100%;
}
.dock__icon {
  height: 90%;
}
.dock__icon--right {
  border-left: 1px solid black;
  margin-left: auto;
  padding-left: 20px;
}

.finder {
  position: fixed;
  height: 50%;
  width: 40%;
  margin-left: 0;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
  color: black;
  text-shadow: none;
}
.finder__left {
  width: 20%;
  background-color: #e6e0dd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2), -1px 10px 30px 0px rgba(0, 0, 0, 0.2);
}
.finder__window__buttons {
  width: 100px;
  height: 20px;
  display: flex;
  padding: 30px 30px 10px 30px;
  gap: 12px;
}
.finder__close {
  width: 12px;
  height: 12px;
  background-color: #fb5851;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.finder__minimise {
  width: 12px;
  height: 12px;
  background-color: #fab23f;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.finder__fullscreen {
  width: 12px;
  height: 12px;
  background-color: #32c048;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.finder__shortcuts {
  padding: 20px;
}
.finder__shortcuts > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.finder__shortcuts > ul > li {
  list-style-type: none;
}
.finder__category {
  opacity: 0.4;
}
.finder__right {
  width: 80%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2), 10px 10px 30px 0px rgba(0, 0, 0, 0.2);
}
.finder__header {
  height: 100px;
  background-color: #fcf6f3;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.finder__header > p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.finder__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 0;
  height: 70%;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.finder__content__wrapper {
  border: 2px solid white;
  box-shadow: -5px 10px 40px -30px black;
}
.finder__content__wrapper > img {
  width: 100px;
  border: 1px solid black;
}

.messages {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 50%;
  width: 40%;
  border-radius: 10px;
  display: none;
  color: black;
  text-shadow: none;
}
.messages__left {
  width: 20%;
  background-color: #e6e0dd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1), -1px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.messages__right {
  width: 80%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1), 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.messages__window__buttons {
  width: 100px;
  height: 20px;
  display: flex;
  padding: 30px 30px 10px 30px;
  gap: 12px;
}
.messages__close {
  width: 12px;
  height: 12px;
  background-color: #fb5851;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.messages__minimise {
  width: 12px;
  height: 12px;
  background-color: #fab23f;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.messages__fullscreen {
  width: 12px;
  height: 12px;
  background-color: #32c048;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.messages__shortcuts {
  padding: 20px;
}
.messages__shortcuts > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messages__shortcuts > ul > li {
  list-style-type: none;
}
.messages__category {
  opacity: 0.4;
}
.messages__header {
  height: 100px;
  background-color: #fcf6f3;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.messages__header > p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.messages__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 0;
  height: 70%;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.messages__content__wrapper {
  border: 2px solid white;
  box-shadow: -5px 10px 40px -30px black;
}
.messages__content__wrapper > img {
  width: 100px;
  border: 1px solid black;
}

.notes {
  position: absolute;
  top: 50px;
  right: 20px;
  height: 50%;
  width: 40%;
  border-radius: 10px;
  display: none;
  color: black;
  text-shadow: none;
}
.notes__left {
  width: 20%;
  background-color: #e6e0dd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1), -1px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.notes__right {
  width: 80%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1), 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.notes__window__buttons {
  width: 100px;
  height: 20px;
  display: flex;
  padding: 30px 30px 10px 30px;
  gap: 12px;
}
.notes__close {
  width: 12px;
  height: 12px;
  background-color: #fb5851;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.notes__minimise {
  width: 12px;
  height: 12px;
  background-color: #fab23f;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.notes__fullscreen {
  width: 12px;
  height: 12px;
  background-color: #32c048;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.notes__shortcuts {
  padding: 20px;
}
.notes__shortcuts > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notes__shortcuts > ul > li {
  list-style-type: none;
}
.notes__category {
  opacity: 0.4;
}
.notes__header {
  height: 100px;
  background-color: #fcf6f3;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.notes__header > p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.notes__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 0;
  height: 70%;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.notes__content__wrapper {
  border: 2px solid white;
  box-shadow: -5px 10px 40px -30px black;
}
.notes__content__wrapper > img {
  width: 100px;
  border: 1px solid black;
}

.calculator {
  position: absolute;
  bottom: 100px;
  right: 20px;
  height: 50%;
  width: 40%;
  border-radius: 10px;
  display: none;
  color: black;
  text-shadow: none;
}
.calculator__left {
  width: 20%;
  background-color: #e6e0dd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1), -1px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.calculator__right {
  width: 80%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1), 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.calculator__window__buttons {
  width: 100px;
  height: 20px;
  display: flex;
  padding: 30px 30px 10px 30px;
  gap: 12px;
}
.calculator__close {
  width: 12px;
  height: 12px;
  background-color: #fb5851;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.calculator__minimise {
  width: 12px;
  height: 12px;
  background-color: #fab23f;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.calculator__fullscreen {
  width: 12px;
  height: 12px;
  background-color: #32c048;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.calculator__shortcuts {
  padding: 20px;
}
.calculator__shortcuts > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calculator__shortcuts > ul > li {
  list-style-type: none;
}
.calculator__category {
  opacity: 0.4;
}
.calculator__header {
  height: 100px;
  background-color: #fcf6f3;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.calculator__header > p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.calculator__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 0;
  height: 70%;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.calculator__content__wrapper {
  border: 2px solid white;
  box-shadow: -5px 10px 40px -30px black;
}
.calculator__content__wrapper > img {
  width: 100px;
  border: 1px solid black;
}

.menu {
  width: 100vw;
  height: 40px;
  background-color: rgba(190, 242, 251, 0.7);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__hover {
  background-color: rgba(134, 171, 177, 0.7);
  border-radius: 5px;
}
.menu__left {
  margin-left: 20px;
  display: flex;
  list-style-type: none;
}
.menu__left > li {
  padding: 11px 15px;
}
.menu__right {
  margin-right: 20px;
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.menu__right > li > img {
  height: 20px;
  width: 20px;
}
.menu__item--bold {
  font-weight: bold;
}

.dropdown__hover {
  background-color: #297beb;
  color: white;
}
.dropdown__apple {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 10px;
  padding: 10px 20px;
}
.dropdown__apple--hidden {
  display: none;
}
.dropdown__apple--faded {
  opacity: 0.3;
}
.dropdown__apple > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__apple > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__apple > ul > li {
  list-style-type: none;
}

.dropdown__app {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 52px;
  padding: 10px 20px;
}
.dropdown__app--hidden {
  display: none;
}
.dropdown__app--faded {
  opacity: 0.3;
}
.dropdown__app > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__app > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__app > ul > li {
  list-style-type: none;
}

.dropdown__file {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 121px;
  padding: 10px 20px;
}
.dropdown__file--hidden {
  display: none;
}
.dropdown__file--faded {
  opacity: 0.3;
}
.dropdown__file > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__file > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__file > ul > li {
  list-style-type: none;
}

.dropdown__edit {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 165px;
  padding: 10px 20px;
}
.dropdown__edit--hidden {
  display: none;
}
.dropdown__edit--faded {
  opacity: 0.3;
}
.dropdown__edit > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__edit > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__edit > ul > li {
  list-style-type: none;
}

.dropdown__view {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 213px;
  padding: 10px 20px;
}
.dropdown__view--hidden {
  display: none;
}
.dropdown__view--faded {
  opacity: 0.3;
}
.dropdown__view > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__view > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__view > ul > li {
  list-style-type: none;
}

.dropdown__go {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 268px;
  padding: 10px 20px;
}
.dropdown__go--hidden {
  display: none;
}
.dropdown__go--faded {
  opacity: 0.3;
}
.dropdown__go > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__go > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__go > ul > li {
  list-style-type: none;
}

.dropdown__window {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 309px;
  padding: 10px 20px;
}
.dropdown__window--hidden {
  display: none;
}
.dropdown__window--faded {
  opacity: 0.3;
}
.dropdown__window > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__window > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__window > ul > li {
  list-style-type: none;
}

.dropdown__help {
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(234, 252, 254, 0.3);
  box-shadow: 5px 5px 50px -15px black;
  backdrop-filter: blur(30px);
  position: fixed;
  width: 250px;
  border-radius: 5px;
  top: 41px;
  left: 387px;
  padding: 10px 20px;
}
.dropdown__help--hidden {
  display: none;
}
.dropdown__help--faded {
  opacity: 0.3;
}
.dropdown__help > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__help > ul > hr {
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown__help > ul > li {
  list-style-type: none;
}

/*# sourceMappingURL=styles.css.map */
